body {
    background-color : whitesmoke;
}

h1{
    text-align: left;
    font: revert;
    width: 100%;
    border: 0;
    padding: 10px;
    background-color: #003366;
    color: orange;
    font-size: 60px;
}

h2 {
    text-align: center;
    background-color: lightgrey;
    width: 60%;
    padding: 10px;
    border: 0;
    margin: auto;
}
.date{
    text-align: center;
    background-color: lightgrey;
    width: 60%;
    padding: 10px;
    border: 0;
    margin: auto;
}


.box{
    display: grid;
    grid-template-columns: 20% 80%;
    width: 60%;
    background-color: lightgrey;
    padding: 10px;
    margin: auto;
}

.div1{
    text-align: center;
    position: relative;
    top: 5%;
    font-size: 15px;
}
.div2{
    padding-left: 10px;
    font-size: 18px;
}
