<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../../static/detail.css">
    <title>{{topic.title_text}}</title>
</head>

<header>
    <div class="divh"> <a href="{% url 'index' %}">UP!</a> </div>
    <div class="title">Topics Page</div>
    <div id="profile_area">
        {% if user.is_authenticated %}
            <p>Hi {{ user.username }}!</p>
            <p><a href="{% url 'logout' %}">Logout</a></p>
        {% else %}
          <p>You are not logged in</p>
          <p><a href="{% url 'signup' %}">Sign up</a> <a href="{% url 'login' %}">Login</a></p>
        {% endif %}
    </div>
</header>

<br>

<body>
<h2>{{topic.title_text}}</h2>
<p class="date">Date: {{topic.pub_date}}</p>
<br>

<div class="box">
    <div class="div1">
        <form action="{% url 'Topics:upvote' topic.id %}" method='POST'>
      {% csrf_token %}
    <button type='submit'>UpVote</button>
        </form>
        <br>
        Votes: <br> {{topic.votes}}
        <br>
        <br>
    <form action="{% url 'Topics:downvote' topic.id %}" method='POST'>
    {% csrf_token %}
    <button type='submit'>DownVote</button>
    </form>
    </div>
    <div class="div2">
        <p class="small_description"> {{topic.small_description}} </p>
        <br>
        <details> <summary> More information</summary>
        {{topic.big_description}}
        </details>
    </div>
</div>


<br><br>
<hr>

<div class="main-comment-section">
    {{ comments.count }} Comment{{ comments|pluralize }}
    {% for comment in comments%}
     <blockquote class="blockquote">
         <p class="mb-0"> {{ comment.content }}</p>
         <footer class="blockquote-footer">by <cite title="Source Title">{{comment.user|capfirst}}</cite> </footer>
     </blockquote>
    {%endfor%}
</div>



</body>
</html>

