{% extends 'WebApp/base.html' %}

{% block title %}{{ topic.title_text }}{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<br>
<h2>{{topic.title_text}}</h2>
<p class="date">Date: {{topic.pub_date}}</p>
<br>

<div class="box">
    <div class="div1">
        <form action="{% url 'Topics:upvote' topic.id %}" method='post'>
      {% csrf_token %}
    <button type='submit'>UpVote</button>
        </form>
        <br>
        Votes: <br> {{topic.votes}}
        <br>
        <br>
    <form action="{% url 'Topics:downvote' topic.id %}" method='post'>
    {% csrf_token %}
    <button type='submit'>DownVote</button>
    </form>
    </div>
    <div class="div2">
        <p class="small_description"> {{topic.small_description}} </p>
        <br>
        <details> <summary> More information</summary>
        {{topic.big_description}}
        </details>
    </div>
</div>


<br><br>
<hr>


<div class="main-comment-section">
    <div class="conteiner-fluid mt-2">
        <div class="form-group row">
            <form method="post">
                {% csrf_token %}
                {{ comment_form.as_p }}
                {% if request.user.is_authenticated %}
                <input type="submit" value="Submit" class="btn btn-outline-success">
                {% else %}
                <input type="submit" value="Submit" class="btn btn-outline-success" disabled>
                {% endif %}
            </form>
        </div>
    </div>

    {{ comments.count }} Comment{{ comments|pluralize }}
    {% for comment in comments%}
     <blockquote class="blockquote">
         <p class="mb-0"> {{ comment.content }}</p>
         <footer class="blockquote-footer">by <cite title="Source Title">{{comment.user|capfirst}}</cite> </footer>
     </blockquote>

    <div class="replied-comments container mt-2">
        {%for reply in comment.replies.all%}
        <blockquote class="blockquote">
             <p class="mb-0"> {{ reply.content }}</p>
             <footer class="blockquote-footer">by <cite title="Source Title">{{reply.user|capfirst}}</cite> </footer>
         </blockquote>
        {%endfor%}
        <div class="form-group row">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                {{ comment_form.as_p }}
                {% if request.user.is_authenticated %}
                    <input type="submit" value="Submit" class="btn btn-outline-success">
                {% else %}
                    <input type="submit" value="Submit" class="btn btn-outline-success" disabled>
                {% endif %}
            </form>
        </div>

    </div>

    {%endfor%}
</div>

{% endblock %}