{% extends 'WebApp/base.html' %}

{% block title %}{{ topic.title_text }}{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<div class="title_box">
    <h2 class="title_title">{{topic.title_text}}</h2>
    <p class="title_content">Date: {{topic.pub_date}} <br> Creator: {{topic.creator}}</p>
    {% if topic.creator == request.user.get_username %}
    <a href="{% url 'Topics:post_edit' topic.id %}">
        <button type="button" class="btn btn-outline-secondary">Edit</button>
    </a>
    <br>
    <br>
    {% endif %}
</div>

<br>

<div class="box">
    <div class="div1">
        <form action="{% url 'Topics:upvote' topic.id %}" method='post'>
      {% csrf_token %}
    <button type='submit' class="btn btn-outline-success">UpVote</button>
        </form>
        <br>
        Votes: <br> {{topic.votes}}
        <br>
        <br>
    <form action="{% url 'Topics:downvote' topic.id %}" method='post'>
    {% csrf_token %}
    <button type='submit' class="btn btn-outline-danger">DownVote</button>
    </form>
    </div>
    <div class="div2">
        <p class="small_description"> {{topic.small_description}} </p>
        <br>
        <details> <summary> More information</summary>
        {{topic.big_description}}
        </details>
    </div>
</div>


<br><br>
<hr>

<div class="main-comment-section ml-4">
    {% include 'Topics/comments.html' %}
</div>



{% endblock %}