{% load index %}
<form action="{% url 'Topics:upvote'%}" method='post'>
    {% csrf_token %}
    {% if first %}
        {% if upvotes|remove_first %}
            <button type='submit' class="btn btn-success upvote" name="topic_id" value="{{ topic.id }}">Upvote</button>
        {% else %}
            <button type='submit' class="btn btn-outline-success upvote" name="topic_id" value="{{ topic.id }}">Upvote</button>
        {% endif %}
    {% else %}
        {% if upvoted %}
            <button type='submit' class="btn btn-success upvote" name="topic_id" value="{{ topic.id }}">Upvote</button>
        {% else %}
            <button type='submit' class="btn btn-outline-success upvote" name="topic_id" value="{{ topic.id }}">Upvote</button>
        {% endif %}
    {% endif %}
</form>
<br>
Votes: <br> {{topic.votes}}
<br>
<br>
<form action="{% url 'Topics:downvote'%}" method='post'>
    {% csrf_token %}
    {% if first %}
        {% if downvotes|remove_first  %}
            <button type='submit' class="btn btn-danger downvote" name="topic_id" value="{{ topic.id }}">Downvote</button>
        {% else %}
            <button type='submit' class="btn btn-outline-danger downvote" name="topic_id" value="{{ topic.id }}">Downvote</button>
        {% endif %}
    {% else %}
        {% if downvoted %}
            <button type='submit' class="btn btn-danger downvote" name="topic_id" value="{{ topic.id }}">Downvote</button>
        {% else %}
            <button type='submit' class="btn btn-outline-danger downvote" name="topic_id" value="{{ topic.id }}">Downvote</button>
        {% endif %}
    {% endif %}
</form>