<!DOCTYPE html>
<html>
{% load static %}
<head>
    <link rel="stylesheet" href="{% static "style.css" %}">
    <title>Relevant Topics</title>
</head>


<body>

<header>
    <div class="div1"> UP! </div>
    <div class="title">{% block title %}Relevant topics{% endblock %}</div>
    {% block header_content %}
    {% endblock %}
</header>


<br>
<br>
{% if best_voted_topics %}
<ul>
    {% for topic in best_voted_topics %}
    <li><details> <summary> <a href="/Topics/{{topic.id}}">{{topic.title_text}}</a> </summary>
        {{topic.small_description}} </details>
    <br> </li>

    {% endfor %}
</ul>
{% else %}
<p>No topics are available.</p>
{% endif %}

</body>

</html>