<!DOCTYPE html>
<html>
{% load static %}
<head>
    <link rel="stylesheet" href="{% static "style.css" %}">
    <title>Relevant Topics</title>
</head>


<header>
    <div class="div1"> <a href="{% url 'index' %}">UP!</a> </div>
    <div class="title">Relevant topics</div>
    <div id="profile_area">
        {% if user.is_authenticated %}
            <p>Hi {{ user.username }}!</p>
            <p><a href="{% url 'logout' %}">Logout</a> <a href="{% url 'Topics:new' %}">Create new topic entry</a> </p>
        {% else %}
          <p>You are not logged in</p>
          <p><a href="{% url 'signup' %}">Sign up</a> <a href="{% url 'login' %}">Login</a></p>
        {% endif %}
    </div>
</header>

<br>
<br>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<body>
    {% if best_voted_topics %}
    <ul>
        {% for topic in best_voted_topics %}
            <div class="box">
                <div class="votes">
                    <form action="{% url 'upvote_main' topic.id %}" method='POST'>
                        {% csrf_token %}
                        <button type='submit'>UpVote</button>
                    </form>
                        <br>
                        Votes: <br> {{topic.votes}}
                        <br>
                        <br>
                    <form action="{% url 'downvote_main' topic.id %}" method='POST'>
                        {% csrf_token %}
                        <button type='submit'>DownVote</button>
                    </form>
                </div>
                <div class="content">
                    <li><a href="/Topics/{{topic.id}}">{{topic.title_text}}</a>
                        <br> {{topic.small_description}}<br>
                    <br> </li>
                </div>
            </div>


        {% endfor %}
    </ul>
    {% else %}
    <p>No topics are available.</p>
    {% endif %}


</body>